body {
  background-color: rgb(255, 255, 255);
  font-family: 'Source Code Pro', monospace;
}

#show {
  display: none;
}

.speech-bubble {
	position: relative;
	background: rgb(17, 146, 17);
  border-radius: .4em;
  padding: 15px;
  color: white;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 17px solid transparent;
	border-top-color: rgb(17, 146, 17);
	border-bottom: 0;
	border-left: 0;
	margin-left: -8.5px;
  margin-bottom: -17px;
  
}

img {
  margin-top: 20px;
  display: none;
}



/* Start http://www.cursors-4u.com */ * {cursor: url(https://ani.cursors-4u.net/toons/too-12/too1138.cur), auto !important;} /* End http://www.cursors-4u.com */